<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="areciboDashboard">
    <display-name>arecibo-dashboard</display-name>

    <listener>
        <listener-class>
            com.ning.arecibo.dashboard.context.DashboardStartupContextListener
        </listener-class>
    </listener>

</web-app>
