/*
 * Copyright 2010-2012 Ning, Inc.
 *
 * Ning licenses this file to you under the Apache License, version 2.0
 * (the "License"); you may not use this file except in compliance with the
 * License.  You may obtain a copy of the License at:
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */

.chart_container {
    position: relative;
    /* Give some room for the chart title */
    margin-top: 35px;
}

.y_axis {
    position: relative;
    float: left;
}

.chart {
    position: relative;
    float: left;
    clear: right;
}

.display_controls {
    /* Give some room between the controls and the graph title below */
    margin-bottom: 30px;
    /* Position the controls on top of the Y axis */
    position: relative;
    z-index: 2;
}

.controls_and_legend {
    /* When displaying the controls, give some room between the smoothing slider and the title below */
    margin-bottom: 30px;
}

.slider {
    float: left;
}

.rickshaw_legend {
    background-color: white;
}

.rickshaw_legend span.label {
    font-weight: normal;
    background-color: white;
    color: black;
    text-transform: none;
}

#sample_kinds_summary {
    margin-top: 10px;
}