/* Copyright 2009 Google Inc. All Rights Reserved. */
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, form, fieldset, embed, object, applet {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    color: #000;
    background: #fff
}

a {
    color: #00c
}

a:active {
    color: #f00
}

a:visited {
    color: #551a8b
}

table {
    border-collapse: collapse;
    border-width: 0;
    empty-cells: show
}

ul {
    padding: 0 0 1em 1em
}

ol {
    padding: 0 0 1em 1.3em
}

li {
    line-height: 1.5em;
    padding: 0 0 .5em 0
}

p {
    padding: 0 0 1em 0
}

h1, h2, h3, h4, h5 {
    padding: 0 0 1em 0
}

h1, h2 {
    font-size: 1.3em
}

h3 {
    font-size: 1.1em
}

h4, h5, table {
    font-size: 1em
}

sup, sub {
    font-size: .7em
}

input, select, textarea, option {
    font-family: inherit;
    font-size: inherit
}

.g-doc, .g-doc-1024, .g-doc-800 {
    font-size: 130%
}

.g-doc {
    width: 100%;
    text-align: left
}

.g-section {
    width: 100%;
    vertical-align: top;
    display: inline-block
}

*:first-child+html .g-section {
    display: block
}

* html .g-section {
    overflow: hidden
}

@-moz-document url-prefix(){.g-section{overflow:hidden}}
@-moz-document url-prefix(){.g-section,tt:default{overflow:visible}}
.g-section, .g-unit {
    zoom: 1
}

.g-split .g-unit {
    text-align: right
}

.g-split .g-first {
    text-align: left
}

.g-doc-1024 {
    width: 73.074em;
    *width: 71.313em;
    min-width: 950px;
    margin: 0 auto;
    text-align: left
}

.g-doc-800 {
    width: 57.69em;
    *width: 56.3em;
    min-width: 750px;
    margin: 0 auto;
    text-align: left
}

.g-tpl-160 .g-unit, .g-unit .g-tpl-160 .g-unit, .g-unit .g-unit .g-tpl-160 .g-unit, .g-unit .g-unit .g-unit .g-tpl-160 .g-unit {
    margin: 0 0 0 160px;
    width: auto;
    float: none
}

.g-unit .g-unit .g-unit .g-tpl-160 .g-first, .g-unit .g-unit .g-tpl-160 .g-first, .g-unit .g-tpl-160 .g-first, .g-tpl-160 .g-first {
    margin: 0;
    width: 160px;
    float: left
}

.g-tpl-160-alt .g-unit, .g-unit .g-tpl-160-alt .g-unit, .g-unit .g-unit .g-tpl-160-alt .g-unit, .g-unit .g-unit .g-unit .g-tpl-160-alt .g-unit {
    margin: 0 160px 0 0;
    width: auto;
    float: none
}

.g-unit .g-unit .g-unit .g-tpl-160-alt .g-first, .g-unit .g-unit .g-tpl-160-alt .g-first, .g-unit .g-tpl-160-alt .g-first, .g-tpl-160-alt .g-first {
    margin: 0;
    width: 160px;
    float: right
}

.g-tpl-180 .g-unit, .g-unit .g-tpl-180 .g-unit, .g-unit .g-unit .g-tpl-180 .g-unit, .g-unit .g-unit .g-unit .g-tpl-180 .g-unit {
    margin: 0 0 0 180px;
    width: auto;
    float: none
}

.g-unit .g-unit .g-unit .g-tpl-180 .g-first, .g-unit .g-unit .g-tpl-180 .g-first, .g-unit .g-tpl-180 .g-first, .g-tpl-180 .g-first {
    margin: 0;
    width: 180px;
    float: left
}

.g-tpl-180-alt .g-unit, .g-unit .g-tpl-180-alt .g-unit, .g-unit .g-unit .g-tpl-180-alt .g-unit, .g-unit .g-unit .g-unit .g-tpl-180-alt .g-unit {
    margin: 0 180px 0 0;
    width: auto;
    float: none
}

.g-unit .g-unit .g-unit .g-tpl-180-alt .g-first, .g-unit .g-unit .g-tpl-180-alt .g-first, .g-unit .g-tpl-180-alt .g-first, .g-tpl-180-alt .g-first {
    margin: 0;
    width: 180px;
    float: right
}

.g-tpl-300 .g-unit, .g-unit .g-tpl-300 .g-unit, .g-unit .g-unit .g-tpl-300 .g-unit, .g-unit .g-unit .g-unit .g-tpl-300 .g-unit {
    margin: 0 0 0 300px;
    width: auto;
    float: none
}

.g-unit .g-unit .g-unit .g-tpl-300 .g-first, .g-unit .g-unit .g-tpl-300 .g-first, .g-unit .g-tpl-300 .g-first, .g-tpl-300 .g-first {
    margin: 0;
    width: 300px;
    float: left
}

.g-tpl-300-alt .g-unit, .g-unit .g-tpl-300-alt .g-unit, .g-unit .g-unit .g-tpl-300-alt .g-unit, .g-unit .g-unit .g-unit .g-tpl-300-alt .g-unit {
    margin: 0 300px 0 0;
    width: auto;
    float: none
}

.g-unit .g-unit .g-unit .g-tpl-300-alt .g-first, .g-unit .g-unit .g-tpl-300-alt .g-first, .g-unit .g-tpl-300-alt .g-first, .g-tpl-300-alt .g-first {
    margin: 0;
    width: 300px;
    float: right
}

.g-tpl-25-75 .g-unit, .g-unit .g-tpl-25-75 .g-unit, .g-unit .g-unit .g-tpl-25-75 .g-unit, .g-unit .g-unit .g-unit .g-tpl-25-75 .g-unit {
    width: 74.999%;
    float: right;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-25-75 .g-first, .g-unit .g-unit .g-tpl-25-75 .g-first, .g-unit .g-tpl-25-75 .g-first, .g-tpl-25-75 .g-first {
    width: 24.999%;
    float: left;
    margin: 0
}

.g-tpl-25-75-alt .g-unit, .g-unit .g-tpl-25-75-alt .g-unit, .g-unit .g-unit .g-tpl-25-75-alt .g-unit, .g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-unit {
    width: 24.999%;
    float: left;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-first, .g-unit .g-unit .g-tpl-25-75-alt .g-first, .g-unit .g-tpl-25-75-alt .g-first, .g-tpl-25-75-alt .g-first {
    width: 74.999%;
    float: right;
    margin: 0
}

.g-tpl-75-25 .g-unit, .g-unit .g-tpl-75-25 .g-unit, .g-unit .g-unit .g-tpl-75-25 .g-unit, .g-unit .g-unit .g-unit .g-tpl-75-25 .g-unit {
    width: 24.999%;
    float: right;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-75-25 .g-first, .g-unit .g-unit .g-tpl-75-25 .g-first, .g-unit .g-tpl-75-25 .g-first, .g-tpl-75-25 .g-first {
    width: 74.999%;
    float: left;
    margin: 0
}

.g-tpl-75-25-alt .g-unit, .g-unit .g-tpl-75-25-alt .g-unit, .g-unit .g-unit .g-tpl-75-25-alt .g-unit, .g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-unit {
    width: 74.999%;
    float: left;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-first, .g-unit .g-unit .g-tpl-75-25-alt .g-first, .g-unit .g-tpl-75-25-alt .g-first, .g-tpl-75-25-alt .g-first {
    width: 24.999%;
    float: right;
    margin: 0
}

.g-tpl-33-67 .g-unit, .g-unit .g-tpl-33-67 .g-unit, .g-unit .g-unit .g-tpl-33-67 .g-unit, .g-unit .g-unit .g-unit .g-tpl-33-67 .g-unit {
    width: 66.999%;
    float: right;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-33-67 .g-first, .g-unit .g-unit .g-tpl-33-67 .g-first, .g-unit .g-tpl-33-67 .g-first, .g-tpl-33-67 .g-first {
    width: 32.999%;
    float: left;
    margin: 0
}

.g-tpl-33-67-alt .g-unit, .g-unit .g-tpl-33-67-alt .g-unit, .g-unit .g-unit .g-tpl-33-67-alt .g-unit, .g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-unit {
    width: 32.999%;
    float: left;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-first, .g-unit .g-unit .g-tpl-33-67-alt .g-first, .g-unit .g-tpl-33-67-alt .g-first, .g-tpl-33-67-alt .g-first {
    width: 66.999%;
    float: right;
    margin: 0
}

.g-tpl-67-33 .g-unit, .g-unit .g-tpl-67-33 .g-unit, .g-unit .g-unit .g-tpl-67-33 .g-unit, .g-unit .g-unit .g-unit .g-tpl-67-33 .g-unit {
    width: 32.999%;
    float: right;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-67-33 .g-first, .g-unit .g-unit .g-tpl-67-33 .g-first, .g-unit .g-tpl-67-33 .g-first, .g-tpl-67-33 .g-first {
    width: 66.999%;
    float: left;
    margin: 0
}

.g-tpl-67-33-alt .g-unit, .g-unit .g-tpl-67-33-alt .g-unit, .g-unit .g-unit .g-tpl-67-33-alt .g-unit, .g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-unit {
    width: 66.999%;
    float: left;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-first, .g-unit .g-unit .g-tpl-67-33-alt .g-first, .g-unit .g-tpl-67-33-alt .g-first, .g-tpl-67-33-alt .g-first {
    width: 32.999%;
    float: right;
    margin: 0
}

.g-tpl-50-50 .g-unit, .g-unit .g-tpl-50-50 .g-unit, .g-unit .g-unit .g-tpl-50-50 .g-unit, .g-unit .g-unit .g-unit .g-tpl-50-50 .g-unit {
    width: 49.999%;
    float: right;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-50-50 .g-first, .g-unit .g-unit .g-tpl-50-50 .g-first, .g-unit .g-tpl-50-50 .g-first, .g-tpl-50-50 .g-first {
    width: 49.999%;
    float: left;
    margin: 0
}

.g-tpl-50-50-alt .g-unit, .g-unit .g-tpl-50-50-alt .g-unit, .g-unit .g-unit .g-tpl-50-50-alt .g-unit, .g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-unit {
    width: 49.999%;
    float: left;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-first, .g-unit .g-unit .g-tpl-50-50-alt .g-first, .g-unit .g-tpl-50-50-alt .g-first, .g-tpl-50-50-alt .g-first {
    width: 49.999%;
    float: right;
    margin: 0
}

.g-tpl-nest {
    width: auto
}

.g-tpl-nest .g-section {
    display: inline
}

.g-tpl-nest .g-unit, .g-unit .g-tpl-nest .g-unit, .g-unit .g-unit .g-tpl-nest .g-unit, .g-unit .g-unit .g-unit .g-tpl-nest .g-unit {
    float: left;
    width: auto;
    margin: 0
}

.g-tpl-nest-alt .g-unit, .g-unit .g-tpl-nest-alt .g-unit, .g-unit .g-unit .g-tpl-nest-alt .g-unit, .g-unit .g-unit .g-unit .g-tpl-nest-alt .g-unit {
    float: right;
    width: auto;
    margin: 0
}

html>body .goog-inline-block {
    display: -moz-inline-box;
    display: inline-block;
}

.goog-inline-block {
    position: relative;
    display: inline-block
}

* html .goog-inline-block {
    display: inline
}

*:first-child+html .goog-inline-block {
    display: inline
}

.goog-custom-button {
    margin: 2px;
    border: 0;
    padding: 0;
    font: normal Tahoma, Arial, sans-serif;
    color: #000;
    background: #ddd url("/img/button-bg.gif") repeat-x top left;
    text-decoration: none;
    list-style: none;
    vertical-align: middle;
    cursor: pointer;
    outline: none
}

.goog-custom-button-outer-box, .goog-custom-button-inner-box {
    border-style: solid;
    border-color: #aaa;
    vertical-align: top
}

.goog-custom-button-outer-box {
    margin: 0;
    border-width: 1px 0;
    padding: 0
}

.goog-custom-button-inner-box {
    margin: 0 -1px;
    border-width: 0 1px;
    padding: 3px 4px
}

* html .goog-custom-button-inner-box {
    left: -1px
}

* html .goog-custom-button-rtl .goog-custom-button-outer-box {
    left: -1px
}

* html .goog-custom-button-rtl .goog-custom-button-inner-box {
    left: 0
}

*:first-child+html .goog-custom-button-inner-box {
    left: -1px
}

*:first-child+html .goog-custom-button-rtl .goog-custom-button-inner-box {
    left: 1px
}

::root .goog-custom-button, ::root .goog-custom-button-outer-box {
    line-height: 0
}

::root .goog-custom-button-inner-box {
    line-height: normal
}

.goog-custom-button-disabled {
    background-image: none !important;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity = 40)
}

.goog-custom-button-disabled .goog-custom-button-outer-box, .goog-custom-button-disabled .goog-custom-button-inner-box {
    color: #333 !important;
    border-color: #999 !important
}

* html .goog-custom-button-disabled {
    margin: 2px 1px !important;
    padding: 0 1px !important
}

*:first-child+html .goog-custom-button-disabled {
    margin: 2px 1px !important;
    padding: 0 1px !important
}

.goog-custom-button-hover .goog-custom-button-outer-box, .goog-custom-button-hover .goog-custom-button-inner-box {
    border-color: #9cf #69e #69e #7af !important;
}

.goog-custom-button-active, .goog-custom-button-checked {
    background-color: #bbb;
    background-position: bottom left
}

.goog-custom-button-focused .goog-custom-button-outer-box, .goog-custom-button-focused .goog-custom-button-inner-box {
    border-color: #3366cc
}

.goog-custom-button-collapse-right, .goog-custom-button-collapse-right .goog-custom-button-outer-box, .goog-custom-button-collapse-right .goog-custom-button-inner-box {
    margin-right: 0
}

.goog-custom-button-collapse-left, .goog-custom-button-collapse-left .goog-custom-button-outer-box, .goog-custom-button-collapse-left .goog-custom-button-inner-box {
    margin-left: 0
}

.goog-custom-button-collapse-left .goog-custom-button-inner-box {
    border-left: 1px solid #fff
}

.goog-custom-button-collapse-left.goog-custom-button-checked .goog-custom-button-inner-box {
    border-left: 1px solid #ddd
}

* html .goog-custom-button-collapse-left .goog-custom-button-inner-box {
    left: 0
}

*:first-child+html .goog-custom-button-collapse-left .goog-custom-button-inner-box {
    left: 0
}

.goog-date-picker th, .goog-date-picker td {
    font-family: arial, sans-serif;
    text-align: center
}

.goog-date-picker th {
    font-size: .9em;
    font-weight: bold;
    color: #666667;
    background-color: #c3d9ff
}

.goog-date-picker td {
    vertical-align: middle;
    padding: 2px 3px
}

.goog-date-picker {
    -moz-user-focus: normal;
    -moz-user-select: none;
    position: absolute;
    border: 1px solid gray;
    float: left;
    font-family: arial, sans-serif;
    padding-left: 1px;
    background: white
}

.goog-date-picker-menu {
    position: absolute;
    background: threedface;
    border: 1px solid gray;
    -moz-user-focus: normal
}

.goog-date-picker-menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.goog-date-picker-menu ul li {
    cursor: default
}

.goog-date-picker-menu-selected {
    background-color: #aaccee
}

.goog-date-picker td div {
    float: left
}

.goog-date-picker button {
    padding: 0;
    margin: 1px;
    border: 1px outset gray
}

.goog-date-picker-week {
    padding: 1px 3px
}

.goog-date-picker-wday {
    padding: 1px 3px
}

.goog-date-picker-today-cont {
    text-align: left !important
}

.goog-date-picker-none-cont {
    text-align: right !important
}

.goog-date-picker-head td {
    text-align: center
}

.goog-date-picker-month {
    width: 12ex
}

.goog-date-picker-year {
    width: 6ex
}

.goog-date-picker table {
    border-collapse: collapse
}

.goog-date-picker-selected {
    background-color: #aaccee !important;
    color: blue !important
}

.goog-date-picker-today {
    font-weight: bold !important
}

.goog-date-picker-other-month {
    -moz-opacity: 0.3;
    filter: Alpha(Opacity = 30)
}

.sat, .sun {
    background: #eee
}

#button1, #button2 {
    display: block;
    width: 60px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font: normal .8em arial, sans-serif;
    border: 1px solid #000
}

.goog-menu {
    position: absolute;
    color: #000;
    border: 1px solid #b5b6b5;
    background-color: #f3f3f7;
    cursor: default;
    font: normal small arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    outline: none
}

.goog-menuitem {
    padding: 2px 5px;
    margin: 0;
    list-style: none
}

.goog-menuitem-highlight {
    background-color: #4279a5;
    color: #fff
}

.goog-menuitem-disabled {
    color: #999
}

.goog-option {
    padding-left: 15px !important
}

.goog-option-selected {
    background-image: url(/img/check.gif);
    background-position: 4px 50%;
    background-repeat: no-repeat
}

.goog-menuseparator {
    position: relative;
    margin: 2px 0;
    border-top: 1px solid #999;
    padding: 0;
    outline: none
}

.goog-submenu {
    position: relative
}

.goog-submenu-arrow {
    position: absolute;
    display: block;
    width: 11px;
    height: 11px;
    right: 3px;
    top: 4px;
    background-image: url(/img/menu-arrows.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 1px
}

.goog-menuitem-highlight .goog-submenu-arrow {
    background-position: 0 -11px
}

.goog-menuitem-disabled .goog-submenu-arrow {
    display: none
}

.goog-menu-filter {
    margin: 2px;
    border: 1px solid silver;
    background: white;
    overflow: hidden
}

.goog-menu-filter div {
    color: gray;
    position: absolute;
    padding: 1px
}

.goog-menu-filter input {
    margin: 0;
    border: 0;
    background: transparent;
    width: 100%
}

.goog-menuitem-partially-checked {
    background-image: url(/img/check-outline.gif);
    background-position: 4px 50%;
    background-repeat: no-repeat
}

.goog-menuitem-fully-checked {
    background-image: url(/img/check.gif);
    background-position: 4px 50%;
    background-repeat: no-repeat
}

.goog-menu-button {
    margin: 2px;
    border: 0;
    padding: 0;
    font: normal Tahoma, Arial, sans-serif;
    color: #000;
    background: #ddd url("/img/button-bg.gif") repeat-x top left;
    text-decoration: none;
    list-style: none;
    vertical-align: middle;
    cursor: pointer;
    outline: none
}

.goog-menu-button-outer-box, .goog-menu-button-inner-box {
    border-style: solid;
    border-color: #aaa;
    vertical-align: middle
}

.goog-menu-button-outer-box {
    margin: 0;
    border-width: 1px 0;
    padding: 0
}

.goog-menu-button-inner-box {
    margin: 0 -1px;
    border-width: 0 1px;
    padding: 3px 4px
}

* html .goog-menu-button-inner-box {
    left: -1px
}

* html .goog-menu-button-rtl .goog-menu-button-outer-box {
    left: -1px
}

* html .goog-menu-button-rtl .goog-menu-button-inner-box {
    left: 0
}

*:first-child+html .goog-menu-button-inner-box {
    left: -1px
}

*:first-child+html .goog-menu-button-rtl .goog-menu-button-inner-box {
    left: 1px
}

::root .goog-menu-button, ::root .goog-menu-button-outer-box, ::root .goog-menu-button-inner-box {
    line-height: 0
}

::root .goog-menu-button-caption, ::root .goog-menu-button-dropdown {
    line-height: normal
}

.goog-menu-button-disabled {
    background-image: none !important;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity = 40)
}

.goog-menu-button-disabled .goog-menu-button-outer-box, .goog-menu-button-disabled .goog-menu-button-inner-box, .goog-menu-button-disabled .goog-menu-button-caption, .goog-menu-button-disabled .goog-menu-button-dropdown {
    color: #333 !important;
    border-color: #999 !important
}

* html .goog-menu-button-disabled {
    margin: 2px 1px !important;
    padding: 0 1px !important
}

*:first-child+html .goog-menu-button-disabled {
    margin: 2px 1px !important;
    padding: 0 1px !important
}

.goog-menu-button-hover .goog-menu-button-outer-box, .goog-menu-button-hover .goog-menu-button-inner-box {
    border-color: #9cf #69e #69e #7af !important;
}

.goog-menu-button-active, .goog-menu-button-open {
    background-color: #bbb;
    background-position: bottom left
}

.goog-menu-button-focused .goog-menu-button-outer-box, .goog-menu-button-focused .goog-menu-button-inner-box {
    border-color: #3366cc
}

.goog-menu-button-caption {
    padding: 0 4px 0 0;
    vertical-align: middle
}

.goog-menu-button-rtl .goog-menu-button-caption {
    padding: 0 0 0 4px
}

.goog-menu-button-dropdown {
    width: 7px;
    background: url(/img/toolbar_icons.gif) no-repeat -176px;
    vertical-align: middle
}

.goog-flat-menu-button {
    margin: 0 2px;
    padding: 1px 4px;
    font: normal 95% Tahoma, Arial, sans-serif;
    color: #333;
    text-decoration: none;
    list-style: none;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    -moz-outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: #c9c9c9;
    background-color: #fff
}

.goog-flat-menu-button-disabled * {
    color: #999;
    border-color: #ccc;
    cursor: default
}

.goog-flat-menu-button-hover, .goog-flat-menu-button-hover {
    border-color: #9cf #69e #69e #7af !important;
}

.goog-flat-menu-button-active {
    background-color: #bbb;
    background-position: bottom left
}

.goog-flat-menu-button-focused {
    border-color: #3366cc
}

.goog-flat-menu-button-caption {
    padding-right: 10px;
    vertical-align: middle
}

.goog-flat-menu-button-dropdown {
    width: 7px;
    background: url(/img/toolbar_icons.gif) no-repeat -176px;
    vertical-align: middle
}

h1 {
    font-size: 1.8em
}

.g-doc {
    width: auto;
    margin: 0 10px
}

.g-doc-1024 {
    margin-left: 10px
}

#ae-logo {
    background: url(//www.google.com/images/logos/app_engine_logo_sm.gif) 0 0 no-repeat;
    display: block;
    width: 176px;
    height: 30px;
    margin: 4px 0 0 0
}

.ae-ir span {
    position: absolute;
    top: -9999px
}

.ae-noscript {
    position: absolute;
    left: -5000px
}

#ae-lhs-nav {
    border-right: 3px solid #e5ecf9
}

.ae-notification {
    margin-bottom: .6em;
    text-align: center
}

.ae-notification strong {
    display: block;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    padding: .6em;
    background-color: #fff1a8;
    font-weight: bold
}

.ae-alert {
    font-weight: bold;
    background: url(/img/icn/icn-warning.gif) no-repeat;
    margin-bottom: .5em;
    padding-left: 1.8em
}

.ae-info {
    background: #f6f9ff url(/img/icn/icn-info.gif) .3em .3em no-repeat;
    margin-bottom: 1em;
    border: 1px solid #e5ecf9;
    background-color: #f6f9ff;
    margin-bottom: 1em;
    padding: .5em .5em .5em 2em
}

.ae-promo {
    padding: .5em .8em;
    margin: .6em 0;
    background-color: #fffbe8;
    border: 1px solid #fff1a9;
    text-align: left
}

.ae-promo strong {
    position: relative;
    top: .3em
}

.ae-alert-text, .ae-warning-text {
    background-color: transparent;
    background-position: right 1px;
    padding: 0 18px 0 0
}

.ae-alert-text {
    color: #c00
}

.ae-warning-text {
    color: #f90
}

.ae-alert-c span {
    display: inline-block
}

.ae-message {
    border: 1px solid #e5ecf9;
    background-color: #f6f9ff;
    margin-bottom: 1em;
    padding: .5em
}

.ae-errorbox {
    border: 1px solid #f00;
    background-color: #fee;
    margin-bottom: 1em;
    padding: 1em
}

#bd .ae-errorbox ul {
    padding-bottom: 0
}

.ae-form dt {
    font-weight: bold
}

.ae-form dt em, .ae-field-hint {
    margin-top: .2em;
    color: #666667;
    font-size: .85em
}

.ae-form label {
    display: block;
    margin: 0 0 .2em 0;
    font-weight: bold
}

.ae-radio {
    margin-bottom: .3em
}

.ae-radio label {
    display: inline
}

.ae-form dd, .ae-input-row {
    margin-bottom: 1em
}

.ae-input-row-group {
    border: 1px solid #fff1a9;
    background: #fffbe8;
    padding: 8px
}

.ae-btn-row {
    margin-top: 1em;
    margin-bottom: 1em
}

.ae-btn-row a {
    margin-left: .5em
}

.ae-cancel {
    margin-left: 1em
}

.ae-divider {
    margin: 0 .6em 0 .5em
}

.ae-nowrap {
    white-space: nowrap
}

.ae-pre-wrap {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    _white-space: pre;
}

a.goog-menu-button {
    padding: 3px 5px;
    border: 1px outset #ccc;
    color: #000;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px
}

a.goog-menu-button:hover {
    border-color: #9cf #69e #69e #7af
}

a.goog-menu-button:active {
    color: #000;
    border-style: inset
}

a.goog-menu-button:visited {
    color: #000
}

a.goog-menu-button.ae-disabled, a.goog-menu-button.ae-disabled:hover, a.goog-menu-button.ae-disabled:active {
    border: 1px outset #ccc
}

a button {
    text-decoration: none
}

.ae-alert ul {
    margin-bottom: .75em;
    margin-top: .25em;
    line-height: 1.5em
}

.ae-alert h4 {
    color: #000;
    font-weight: bold;
    padding: 0 0 .5em
}

div.ae-datastore-index-to-delete, div.ae-datastore-index-to-build {
    color: #aaa
}

#hd p {
    padding: 0
}

#hd li {
    display: inline
}

ul {
    padding: 0 0 1em 1.2em
}

#ae-userinfo {
    text-align: right;
    white-space: nowrap;
}

#ae-userinfo ul {
    padding-bottom: 0;
    padding-top: 5px
}

#ae-appbar-lrg {
    margin: 0 0 1.25em 0;
    padding: .25em .5em;
    background-color: #e5ecf9;
    border-top: 1px solid #36c
}

#ae-appbar-lrg h1 {
    font-size: 1.2em;
    padding: 0
}

#ae-appbar-lrg h1 span {
    font-size: 80%;
    font-weight: normal
}

#ae-appbar-lrg form {
    display: inline;
    padding-right: .1em;
    margin-right: .5em
}

#ae-appbar-sml {
    margin: 0 0 1.25em 0;
    height: 8px;
    padding: 0 .5em;
    background: #e5ecf9
}

.ae-rounded-sml {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

a.ae-ext-link {
    background: url(/img/icn/icn-open-in-new-window.png) no-repeat right;
    padding-right: 18px;
    margin-right: 8px
}

.ae-no-pad {
    padding-left: 1em
}

.ae-message h4 {
    margin-bottom: .3em;
    padding-bottom: 0
}

#ft {
    text-align: center;
    margin: 2.5em 0 1em;
    padding-top: .5em;
    border-top: 2px solid #c3d9ff
}

#bd h3 {
    font-weight: bold;
    font-size: 1.4em
}

#bd p {
    padding: 0 0 1em 0
}

#ae-content {
    padding-left: 1em
}

.ae-unimportant {
    color: #666
}

.ae-table-plain {
    border-collapse: collapse;
    width: 100%
}

.ae-table {
    border: 1px solid #c5d7ef;
    border-collapse: collapse;
    width: 100%
}

#bd h2.ae-table-title {
    background: #e5ecf9;
    margin: 0;
    color: #000;
    font-size: 1em;
    padding: 3px 0 3px 5px;
    border-left: 1px solid #c5d7ef;
    border-right: 1px solid #c5d7ef;
    border-top: 1px solid #c5d7ef
}

.ae-table-caption, .ae-table caption {
    border: 1px solid #c5d7ef;
    background: #e5ecf9;
    -moz-margin-start: -1px
}

.ae-table caption {
    padding: 3px 5px;
    text-align: left
}

.ae-table th, .ae-table td {
    background-color: #fff;
    padding: .35em 1em .25em .35em;
    margin: 0
}

.ae-table thead th {
    font-weight: bold;
    text-align: left;
    background: #c5d7ef;
    vertical-align: bottom
}

.ae-table tfoot tr td {
    border-top: 1px solid #c5d7ef;
    background-color: #e5ecf9
}

.ae-table td {
    border-top: 1px solid #c5d7ef;
    border-bottom: 1px solid #c5d7ef
}

.ae-even td, .ae-even th, .ae-even-top td, .ae-even-tween td, .ae-even-bottom td, ol.ae-even {
    background-color: #e9e9e9;
    border-top: 1px solid #c5d7ef;
    border-bottom: 1px solid #c5d7ef
}

.ae-even-top td {
    border-bottom: 0
}

.ae-even-bottom td {
    border-top: 0
}

.ae-even-tween td {
    border: 0
}

.ae-table .ae-tween td {
    border: 0
}

.ae-table .ae-tween-top td {
    border-bottom: 0
}

.ae-table .ae-tween-bottom td {
    border-top: 0
}

.ae-table #ae-live td {
    background-color: #ffeac0
}

.ae-table-fixed {
    table-layout: fixed
}

.ae-table-fixed td, .ae-table-nowrap {
    overflow: hidden;
    white-space: nowrap
}

.ae-new-usr td {
    border-top: 1px solid #ccccce;
    background-color: #ffe
}

.ae-error-td td {
    border: 2px solid #f00;
    background-color: #fee
}

.ae-paginate strong {
    margin: 0 .5em
}

tfoot .ae-paginate {
    text-align: right
}

.ae-table-caption .ae-paginate, .ae-table-caption .ae-orderby {
    padding: 2px 5px
}

.ae-delete {
    cursor: pointer;
    border: none;
    background: transparent;
}

.ae-btn-large {
    background: #039 url(/img/icn/button_back.png) repeat-x;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding: .5em;
    border: 2px outset #000;
    cursor: pointer
}

.ae-breadcrumb {
    margin: 0 0 1em
}

.ae-disabled, a.ae-disabled, a.ae-disabled:hover, a.ae-disabled:active {
    color: #666 !important;
    text-decoration: none !important;
    cursor: default !important;
    opacity: .4 !important;
    -moz-opacity: .4 !important;
    filter: alpha(opacity = 40) !important
}

input.ae-readonly {
    border: 2px solid transparent;
    border-left: 0;
    background-color: transparent
}

span.ae-text-input-clone {
    padding: 5px 5px 5px 0
}

.ae-loading {
    opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity = 40)
}

.ae-tip {
    margin-top: 1em;
    background: url(/img/tip.png) top left no-repeat;
    padding: 5px 0 0 25px;
    height: 1.5em
}

sup.ae-new-sup {
    color: red
}

.ae-action {
    color: #00c;
    cursor: pointer;
    text-decoration: underline
}

.ae-toggle {
    padding-left: 16px;
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer
}

.ae-minus {
    background-image: url(/img/wgt/minus.gif)
}

.ae-plus {
    background-image: url(/img/wgt/plus.gif)
}

.ae-print {
    background-image: url(/img/print.gif);
    padding-left: 19px
}

.ae-currency, .ae-table thead th.ae-currency {
    text-align: right;
    white-space: nowrap
}

#ae-loading {
    font-size: 1.2em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%
}

#ae-loading div {
    margin: 0 auto;
    background: #fff1a9;
    width: 5em;
    font-weight: bold;
    padding: 4px 10px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-radius-bottomleft: 3px;
    -webkit-border-radius-bottomright: 3px
}

.ae-occlude {
    filter: alpha(opacity = 0);
    position: absolute
}

.g-tpl-66-34 .g-unit, .g-unit .g-tpl-66-34 .g-unit, .g-unit .g-unit .g-tpl-66-34 .g-unit, .g-unit .g-unit .g-unit .g-tpl-66-34 .g-unit {
    display: inline;
    margin: 0;
    width: 33.999%;
    float: right
}

.g-unit .g-unit .g-unit .g-tpl-66-34 .g-first, .g-unit .g-unit .g-tpl-66-34 .g-first, .g-unit .g-tpl-66-34 .g-first, .g-tpl-66-34 .g-first {
    display: inline;
    margin: 0;
    width: 65.999%;
    float: left
}

#ae-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 0
}

#ae-nav ul li {
    padding-left: .5em
}

#ae-nav .ae-nav-selected {
    color: #000;
    display: block;
    font-weight: bold;
    background-color: #e5ecf9;
    margin-right: -1px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px
}

#ae-nav ul li span.ae-nav-disabled {
    color: #666
}

#ae-nav ul ul {
    margin: 0;
    padding: 0 0 0 .5em
}

#ae-nav ul ul li {
    padding-left: .5em
}

#ae-nav ul li a, #ae-nav ul li span, #ae-nav ul ul li a {
    padding-left: .5em
}

#ae-nav li a:link, #ae-nav li a:visited {
    color: #00c
}

.ae-nav-group {
    padding: .5em;
    margin: 0 .75em 0 0;
    background-color: #fffbe8;
    border: 1px solid #fff1a9
}

.ae-nav-group h4 {
    font-weight: bold;
    padding: auto auto .5em .5em;
    padding-left: .4em;
    margin-bottom: .5em;
    padding-bottom: 0
}

.ae-nav-group ul {
    margin: 0 0 .5em 0;
    padding: 0 0 0 1.3em;
    list-style-type: none
}

.ae-nav-group ul li {
    padding-bottom: .5em
}

.ae-nav-group li a:link, .ae-nav-group li a:visited {
    color: #00c
}

.ae-nav-group li a:hover {
    color: #00c
}

@media print {
    body {
        font-size: 13px;
        width: 8.5in;
        background: #fff
    }

    table, .ae-table-fixed {
        table-layout: automatic
    }

    tr {
        display: table-row !important
    }

    .g-doc-1024 {
        width: 8.5in
    }

    #ae-appbar-lrg, .ae-table-caption, .ae-table-nowrap, .ae-nowrap, th, td {
        overflow: visible !important;
        white-space: normal !important;
        background: #fff !important
    }

    .ae-print, .ae-toggle {
        display: none
    }

    #ae-lhs-nav-c {
        display: none
    }

    #ae-content {
        margin: 0;
        padding: 0
    }

    .goog-zippy-collapsed, .goog-zippy-expanded {
        background: none !important;
        padding: 0 !important
    }
}

.g-doc-1024 {
    margin-left: auto
}

#ft {
    margin-top: .8em
}

#ae-appbar-lrg, .ae-table th {
    background: #e5ecf9
}

.ae-status-ok, .ae-status-ok:link, .ae-status-ok:visited, .ae-status-ok:hover {
    color: green;
    font-weight: bold;
    text-decoration: none
}

.ae-status-online, .ae-status-online:link, .ae-status-online:visited, .ae-status-online:hover {
    color: green;
    font-weight: bold;
    text-decoration: none
}

.ae-status-investigating, .ae-status-investigating:link, .ae-status-investigating:visited, .ae-status-investigating:hover {
    color: #f90;
    font-weight: bold;
    text-decoration: none
}

.ae-status-unknown, .ae-status-unknown:link, .ae-status-unknown:visited, .ae-status-unknown:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none
}

.ae-status-critical, .ae-status-critical:link, .ae-status-critical:visited, .ae-status-critical:hover {
    color: red;
    font-weight: bold;
    text-decoration: none
}

.ae-status-offline, .ae-status-offline:link, .ae-status-offline:visited, .ae-status-offline:hover {
    color: red;
    font-weight: bold;
    text-decoration: none
}

.ae-status-warn, .ae-status-warn:link, .ae-status-warn:visited, .ae-status-warn:hover {
    color: #eb0;
    font-weight: bold;
    text-decoration: none
}

.ae-status-alert, .ae-status-alert:link, .ae-status-alert:visited, .ae-status-alert:hover {
    color: #eb0;
    font-weight: bold;
    text-decoration: none
}

.ae-page-title {
    float: left;
    text-align: left
}

.ae-return-link {
    float: right;
    text-align: right;
    font-weight: normal;
    font-size: 13px
}

#ae-trust-status-summary {
    margin-bottom: 1em
}

#ae-trust-status-summary dl {
    float: left;
    width: 12em
}

#ae-trust-status-summary dt {
    color: #666;
    margin-bottom: .2em
}

#ae-trust-status-summary img {
    width: 100px;
    height: 25px;
    margin-top: 2px
}

#ae-trust-status-summary #ae-trust-availability {
    width: 12em
}

#ae-trust-availability dd {
    font-size: 140%;
    font-weight: bold;
    padding-top: .4em
}

#ae-trust-status-table {
    margin-bottom: 1em
}

#ae-trust-status-table th {
    border-right: 1px solid #c5d7ef;
    border-bottom: 1px solid #c5d7ef;
    padding: .1em .5em .3em .5em
}

#ae-trust-status-table th.ae-nowrap, #ae-trust-status-table td {
    width: 7.5em;
    padding: .3em;
    text-align: center
}

#ae-trust-status-table h3 {
    padding: 0;
    margin: 0;
    font-size: 1.1em
}

#ae-trust-status-table div.ae-status-issue, #ae-trust-status-table div.ae-status-unknown, #ae-trust-status-table div.ae-status-investigating, #ae-trust-status-table div.ae-status-online, #ae-trust-status-table div.ae-status-offline, #ae-trust-status-table div.ae-unimportant {
    padding: 0 0 0 .3em
}

#ae-trust-status-table th .ae-unimportant {
    font-weight: normal
}

#ae-trust-status-table .ae-trust-daily-icon {
    display: block;
    width: 48px;
    height: 28px;
    margin: auto;
    padding: 0
}

#ae-trust-status-table .ae-trust-status-section td {
    background: #eff3f8;
    padding: .8em;
    text-align: left
}

.ae-trust-daily-issue-corp {
    background: url(/static/img/status_good.gif) no-repeat
}

.ae-trust-daily-unknown-corp {
    background: url(/static/img/status_unknown.gif) no-repeat
}

.ae-trust-daily-investigating-corp {
    background: url(/static/img/status_investigating.gif) no-repeat
}

.ae-trust-daily-online-corp {
    background: url(/static/img/status_good.gif) no-repeat
}

.ae-trust-daily-offline-corp {
    background: url(/static/img/status_alert.gif) no-repeat
}

.ae-trust-daily-planned-corp {
    background: url(/static/img/status_time.gif) no-repeat
}

.ae-trust-daily-info-corp {
    background: url(/static/img/status_info.gif) no-repeat
}

.ae-trust-daily-info-corp {
    background: url(/static/img/status_info.gif) no-repeat
}

.ae-trust-daily-issue-prod {
    background: url(/images/ae_status_good.gif) no-repeat
}

.ae-trust-daily-investigating-prod {
    background: url(/images/ae_status_investigating.gif) no-repeat
}

.ae-trust-daily-unknown-prod {
    background: url(/images/ae_status_unknown.gif) no-repeat
}

.ae-trust-daily-online-prod {
    background: url(/images/ae_status_good.gif) no-repeat
}

.ae-trust-daily-ok-prod {
    background: url(/images/ae_status_good.gif) no-repeat
}

.ae-trust-daily-warn-prod {
    background: url(/images/ae_status_warn.gif) no-repeat
}

.ae-trust-daily-critical-prod {
    background: url(/images/ae_status_alert.gif) no-repeat
}

.ae-trust-daily-offline-prod {
    background: url(/images/ae_status_alert.gif) no-repeat
}

.ae-trust-daily-planned-prod {
    background: url(/images/ae_status_time.gif) no-repeat
}

.ae-trust-daily-info-prod {
    background: url(/images/ae_status_info.gif) no-repeat
}

#ae-trust-status-table .ae-trust-daily-issue-corp, #ae-trust-status-table .ae-trust-daily-unknown-corp, #ae-trust-status-table .ae-trust-daily-investigating-corp, #ae-trust-status-table .ae-trust-daily-online-corp, #ae-trust-status-table .ae-trust-daily-offline-corp, #ae-trust-status-table .ae-trust-daily-issue-prod, #ae-trust-status-table .ae-trust-daily-unknown-prod, #ae-trust-status-table .ae-trust-daily-investigating-prod, #ae-trust-status-table .ae-trust-daily-online-prod, #ae-trust-status-table .ae-trust-daily-offline-prod, #ae-trust-status-table .ae-trust-daily-warn-prod, #ae-trust-status-table .ae-trust-daily-critical-prod {
    background-position: 50% 50%
}

.ae-trust-info-link {
    font-size: .85em
}

.ae-trust-legend p {
    margin-bottom: 0;
    padding-bottom: 0
}

.ae-trust-legend span {
    padding-right: 1em
}

.ae-trust-legend img {
    position: relative;
    top: .3em
}

.ae-tip-corp {
    background: url(/static/img/tip.png) top left no-repeat;
    padding: 5px 0 0 25px;
    height: 1.5em
}

.ae-tip-prod {
    background: url(/images/ae_tip.png) top left no-repeat;
    padding: 5px 0 0 25px;
    height: 1.5em
}

a.goog-menu-button {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    height: 16px;
    padding: 0 5px
}

a.goog-menu-button:hover {
    border-color: #9cf #69e #69e #7af !important
}

.ae-table thead th.ae-button-th {
    text-align: left
}

.ae-table td.ae-trust-col-now-corp {
    background: #f6f9ff url(/static/img/now_column_background.gif) repeat-y;
    border-left: 1px solid #c5d7ef
}

.ae-table td.ae-trust-col-now-prod {
    background: #f6f9ff url(/images/ae_now_column_background.gif) repeat-y;
    border-left: 1px solid #c5d7ef
}

a.goog-menu-button-corp {
    background: #ddd url(/static/img/button-bg.gif) repeat-x
}

a.goog-menu-button-prod {
    background: #ddd url(/images/ae_button-bg.gif) repeat-x
}

.ae-trust-marker {
    display: block;
    float: left;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    border: 1px solid #656565;
    margin-right: .5em;
    position: relative;
    top: -.2em;
    background: #fdfdfd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px
}

#ae-trust-detail-nav-day {
    margin: 0 0 1.25em
}

#ae-trust-detail-nav-day a, #ae-trust-detail-nav-day span {
    margin-right: .3em
}

#ae-trust-detail-c {
    border-top: 1px solid #c5d7ef;
    border-left: 1px solid #c5d7ef
}

#ae-trust-detail .g-unit, .g-unit #ae-trust-detail .g-unit {
    display: block;
    margin: 0 0 0 150px;
    width: auto;
    float: none
}

.g-unit #ae-trust-detail .g-first, #ae-trust-detail .g-first {
    display: block;
    margin: 0;
    width: 150px;
    float: left
}

#ae-trust-detail {
    margin: 0 0 1em
}

.ae-trust-detail-corp {
    background: url(/static/img/chart_selector_bg.gif) repeat-y
}

.ae-trust-detail-prod {
    background: url(/images/ae_chart_selector_bg.gif) repeat-y
}

#ae-trust-detail-nav ul, #ae-trust-detail-nav li {
    list-style: none;
    padding: 0;
    margin: 0
}

#ae-trust-detail-nav li {
    border-bottom: 1px solid #e5ecf9
}

#ae-trust-detail-nav strong, #ae-trust-detail-nav a, #ae-trust-detail-nav a:visited {
    display: block;
    padding: 3px;
    border-bottom: 1px solid #c5d7ef;
    background-color: #e5ecf9;
    overflow: hidden;
    color: #000;
    white-space: nowrap;
    text-decoration: none
}

#ae-trust-detail-nav a.ae-trust-metric-alert-corp {
    background-image: url(/static/img/status_alert.gif);
    background-position: 97% 50%;
    background-repeat: no-repeat
}

#ae-trust-detail-nav a.ae-trust-metric-alert-prod {
    background-image: url(/images/ae_status_alert.gif);
    background-position: 97% 50%;
    background-repeat: no-repeat
}

#ae-trust-detail-nav strong {
    padding-left: 8px
}

#ae-trust-detail-nav a span {
    display: block;
    float: left;
    margin-right: 7px;
    width: 40px;
    height: 15px
}

#ae-trust-detail-nav a:hover {
    background-color: #c5d7ef;
    text-decoration: none
}

#ae-trust-detail-nav a.ae-active, #ae-trust-detail-nav a.ae-active:hover {
    background-color: #fff !important;
}

#ae-trust-detail-table {
    border-bottom: 0
}

#ae-trust-detail-table td {
    vertical-align: top;
    padding-top: 10px
}

#ae-trust-detail-table .ae-trust-daily-icon {
    padding-left: 20px
}

#ae-trust-detail-table-c, #ae-trust-detail-chart-graph {
    padding: 18px
}

#ae-trust-detail-table-c {
    padding-bottom: 14px
}

#ae-trust-detail-chart-graph h3 {
    padding-bottom: .5em
}

#ae-trust-detail-chart-disclaimer {
    background-color: #fffbe8;
    border: 1px solid #fff1a9;
    padding: 3px 3px 3px 24px;
    margin-bottom: 15px
}

#ae-trust-detail-chart-description {
    padding-bottom: 1em
}

#ae-trust-detail-chart-img-c {
    margin-left: 10px;
    position: relative
}

#ae-trust-detail-chart-img-c .ae-trust-marker {
    position: absolute;
    cursor: pointer;
    background: #fff
}

#ae-trust-detail-table .ae-active td {
    background: #efefef
}

#ae-trust-detail-chart-img-c .ae-active, #ae-trust-detail-table .ae-active .ae-trust-marker {
    background: #579ae9;
    color: #fff
}

#ae-trust-detail-time-col, #ae-trust-detail-probe-col {
    width: 25%
}

.ae-trust-alert {
    background-color: #fffbe8;
    border: 1px solid #fff1a9;
    padding: 3px 3px 3px 24px;
    margin-bottom: 15px;
    background-position: 3px 3px
}

.ae-trust-alert .ae-planned .ae-trust-alert strong {
    display: block
}

.ae-trust-alert-info {
    font-weight: normal;
    color: #777
}

#ae-trust-java-attr {
    font-size: 85%;
    margin-bottom: 4px
}